/* line 4, /home/scruffy/git/tatalog/app/assets/stylesheets/pages.with.bkgrnd.css.scss */
body {
  color: #cccccc;
  background: url("/assets/tatalog-bkgrnd.jpg") no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
}
