<div class="row">
  <div class="large-2 columns"></div>
  <div class="small-12 large-8 columns">
    <h1>Signup for a new account</h1>
    <%= render "form" %>
  </div>
  <div class="large-2 columns"></div>
</div>