<div class="row">
  <div class="small-2 large-4 columns">
    <div class="panel radius">
      <%= image_tag("https://s3.amazonaws.com/tatalog-milam-dev/misc/images/noavatar.png") %>
    </div>
  </div>
  <div class="small-10 large-8 columns">
    <h1><%= @user.name %></h1>

    <p><%= @user.email %></p>
    <p>
      <%= link_to("Edit your settings", edit_user_path(current_user), class: "button round") %>
    </p>
  </div>
</div>
