<div class="row">
  <div class="large-2 columns"></div>
  <div class="small-12 large-8 columns">
    <h1><%= @user.user_name %>'s Tattoos</h1>
      <div class="carousel">
      <ul class="clearing-thumbs" id="gallery-box" data-clearing>
      <% @tattoos.each do |tattoo| %>
        <p> <%= tattoo.id.to_s + " " + tattoo.name %> </p>
          <div class="small-4 large-4 columns">
          <% if tattoo.tattoo_pics.all %>
            <% tattoo.tattoo_pics.all.each do |pic| %>
              <li id="gallery-content"><a class="th radius" href=<%= pic.url %>><img src=<%= pic.url %>></a></li>
            <% end %>
          <% end %>
          </div>
      <% end %>
      </ul>
      </div>
  </div>
  <div class="large-2 columns"></div>
</div>