<div class="row">
  <div class="small-12 columns">
    <h1><%= @tattoo.name %></h1>
    <div class="tattoo-show">
      <label><img src=<%= @tattoo.image.url(:large) %>></label><br>
      <label>Date Received: <%= @tattoo.when %></label><br>
      <label>Why: <%= @tattoo.why %></label>
    </div>
  </div>
</div>