<h1>Tatalog - the catalog your tats</h1>
<p>
  Ever find yourself having difficulty remembering
  where or when you got that one tattoo, or the artist
  that gave you the tatto? Wish you had a single place
  to showcase your tattoos, easily share images of them
  with friends, and highlight those that are your favorites?
  Then Tatalog is for you, the catalog of your tattoos.
</p>

<div>
  Login to your account<br>
  ++login form will go here++
</div>

<div>
  Need an account? <%= link_to("Click to signup", new_user_path) %>
</div>
