<div class="row">
  <div class="large-4 columns">
    <!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
    <div class="panel radius">
      <h3>Organize...</h3>
      <p>...your ink. Upload an image of your tattoo. Add information, such as
      the artist, the shop where you got the tattoo, or the inspiration behind your
      tattoo. 
      </p>
    </div>
  </div>
  
  <div class="large-4 columns">
    <!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
    <div class="panel radius">
      <h3>Browse...</h3>
      <p>...other user's tattoos. Tag your favorites. View most favorited tattoos, 
      artists, and shops.</p>
    </div>
  </div>
  
  <div class="large-4 columns">
    <!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
    <div class="panel radius">
      <h3>Ready to get started?</h3>
      <p><%= link_to("Click here", new_user_path) %> to sign up for an account. </p>
      <p>Already signed up? <%= link_to("Click here", signin_path) %> to sign in.</p>
    </div>
  </div>

</div>

    