<div class="row">
  <div class="large-2 columns"></div>
  <div class="small-12 large-8 columns">
    <h1>Tatalog - organize your ink</h1>
    <p>
      Ever find yourself having difficulty remembering
      where or when you got that one tattoo, or the artist
      that gave you the tatto? Wish you had a single place
      to showcase your tattoos, easily share them 
      with friends, and highlight those that are your favorites?
      Then Tatalog is for you -- organize your ink.
    </p>
    <div>
      Need an account? <%= link_to("Click to signup", new_user_path) %>
    </div>
  </div>
  <div class="large-2 columns">
</div>