// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 3px;
    font-weight: normal;
    font-size: 0.8em;
  }
}

#password {
  padding-bottom: 0px;
  margin-bottom: 10px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}