// Place all the styles related to the Tattoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery-box {
  position: relative;
  width: 25%;
  padding-bottom: 25%;
}

#gallery-content {
  position: absolute
}

.new-tat {
  margin-top: -5px;
}

input {
  margin-bottom: -5px;
  padding-bottom: -5px;
}